:root {
  --font-family-buttons: 'Roboto', sans-serif;
  --color-accent: #abd27a;
  --font-family-title: 'Jost', sans-serif;
  --font-size-h2: 1.5rem;
  --font-weight-title: 600;
  --color-primary: #508826;
  --color-button-text: #253017;
  --copyrigth-color: #69735d;
}
