.container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 2rem 2.25rem 3.75rem;
  margin: auto;
  max-width: 1440px;
}

.block {
  background-color: var(--color-background);
  border-radius: 1.5rem;
}

.menu {
  width: 324px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2.5rem;
}

.profile {
  width: 1020px;
  display: flex;
  flex-direction: row;
  gap: 12.25rem;
  padding: 3.75rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 460px;
}

.margin {
  margin-bottom: 1rem;
}

.linkButton {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-headings);
  color: var(--color-button-active);
  margin-bottom: 0.8rem;
}

.linkButton:hover {
  color: var(--color-text-caption);
}

.linkButton:focus {
  color: var(--color-text-caption);
}

.flex {
  display: flex;
  gap: 1.5rem;
}

.flexItem {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
}

.buttonDisabled {
  background-color: var(--background-button-disabled);
  color: var(--color-text-caption);
  cursor: auto;
  pointer-events: none;
}

.formButton {
  margin-top: 0.5rem;
}

.buttonDisabled:hover {
  background-color: var(--background-button-disabled);
  color: var(--color-text-caption);
  pointer-events: none;
  cursor: auto;
}

.inputDate input {
  width: 100%;
  padding: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.75rem;
  box-sizing: border-box;
  caret-color: var(--color-button-active);
  border: 1px solid var(--color-text-caption);
  border-radius: 0.75rem;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  color: var(--color-button-text);
  margin-top: 0.25rem;
}

.inputDate input:focus {
  outline: none;
  box-shadow: none;
  caret-color: var(--color-button-active);
  border-color: var(--color-button-active);
}

.inputDate label {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  color: var(--color-button-text);
}

.inputDate input::placeholder {
  color: var(--color-text-caption);
}
