@import '@shared/styles/fonts.css';
@import '@shared/styles/variables.css';

.search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.75rem; 
    padding: 0.75rem;
    background-color: var(--color-background);
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-body);
    box-sizing: border-box;
    flex-grow: 1;
}

.search input.searchInput {
    all: unset;
    border: none;
    outline: none;
    background-color: var(--color-background);
    letter-spacing: var(--letter-spacing-header);
}

input.searchInput::placeholder {
    color: var(--color-text-third);
}