@import '../../../style/variables.css';

.search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.75rem; 
    padding: 1rem;
    background-color: var(--color-background);
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-body);
    box-sizing: border-box;
}

.searchGuest {
    width: 32.9375rem;
}

.searchAuth {
    width: 40.5rem;
}

.searchInput {
    border: none;
    outline: none;
    background-color: var(--color-background);
    flex: 1;
    letter-spacing: var(--letter-spacing-header);
}

.searchInput::placeholder {
    color: var(--color-text-third);
}