@import '@shared/styles/fonts.css';
@import '@shared/styles/variables.css';

.iconButton {
    transition: opacity 0.2s;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 0;
}

.iconButton:hover {
    opacity: 0.8;
}