@import '@shared/styles/fonts.css';
@import '@shared/styles/reset.css';
@import '@shared/styles/variables.css';

.header {
  display: flex;
  align-items: center;
  padding: 2.25rem 2.25rem 1.25rem;
  background-color: var(--color-page);
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.iconBlock {
  display: flex;
  gap: 1.25rem;
}
