:root {
  --color-primary: #508826;
  --color-button-default: #abd27a;
  --color-button-hover: #deebc5;
  --color-button-active: #508826;
  --color-button-text: #253017;
  --color-text-primary: #1f2937;
  --color-text-secondary: #6b7280;
  --color-background: white;
  --color-overlay: rgb(255 255 255 / 100%);
  --font-size-h2: 1.5rem;
  --line-height-h2: 1.75rem;
  --font-size-h4: 1rem;
  --line-height-h4: 1.5rem;
  --font-size-body: 1rem;
  --line-height-body: 1.5rem;
  --font-size-small: 0.75rem;
  --line-height-small: 1rem;
  --font-family-headings: 'Jost', sans-serif;
  --font-family-body: 'Roboto', sans-serif;
  --letter-spacing-body: 0.055rem;
  --font-weight-headings: 500;
  --font-weight-body: 400;
  --outline: 0.15rem dashed var(--color-button-active);
  --outline-offset: -0.15rem;
  --font-family-card: 'OpenSans', sans-serif;
  --background-teg-foreignlang: #EBE5C5;
  --background-teg-education: #E7F2F6;
  --background-teg-health: #E9F7E7;
  --background-teg-business: #EEE7F7;
  --background-teg-art: #F7E7F2;
  --background-teg-house: #F7EBE5;
  --background-teg-more: #E8ECF7;
  --font-family-teg: 'Roboto-Medium', sans-serif;
  --color-button-disabled: #69735D;
  --background-button-disabled: #E4E8DF;
}